/* Task One: low-fidelity wireframe. */

.low-Fidelity {
  height: 400px;
  width: 400px;
  display: flex;
  margin: 40px;
}
.low-Fidelity .codepen img {
  display: flex;
  height: 400px;
  align-items: center;
  margin-right: 20px;
  background-size: cover;
  justify-content: space-between;
}
/* Task Two:  . */
.cuadrado {
  display: flex;
  margin: 70px;
}
span {
  height: 40px;
  width: 160px;
}
/* 1 */
.cuadrado1 {
  background-color: #f0f0e8;
}
.cuadrado2 {
  background-color: #808080;
}
.cuadrado3 {
  background-color: #000000;
}
/* 2 */
.cuadrado4 {
  background-color: #f1f8fa;
}
.cuadrado5 {
  background-color: #808080;
}
.cuadrado6 {
  background-color: #000000;
}

/* 3 */
.cuadrado7 {
  background-color: #452bc7;
}
.cuadrado8 {
  background-color: #ffcd00;
}
.cuadrado9 {
  background-color: #000000;
}

/* 4 */
.cuadrado10 {
  background-color: #01ffe9;
}
.cuadrado11 {
  background-color: #4b4a4a;
}
.cuadrado12 {
  background-color: #000000;
}
/* Task Three: */

.face {
  margin-bottom: 60px;
}
